@reference "tailwindcss";

.login {
  @apply p-4 flex flex-row gap-4;
}

.login__imageContainer {
  @apply w-1/2 h-[calc(100vh-16px-16px)] bg-cover bg-no-repeat rounded-lg hidden lg:block;
}

.login__loginContainer {
  @apply w-full h-[calc(100vh-16px-16px)] lg:h-auto lg:w-1/2 px-4 flex flex-col;
}
