@reference "tailwindcss";

.navbar {
  @apply xl:sticky top-0 left-0 box-border pl-4 p-2 flex flex-row items-center justify-between gap-4 shadow-md z-50 relative px-4 bg-white;
}

.navigation {
  @apply flex flex-row items-center justify-center gap-4;
}

.navigation .auth-btn {
  @apply text-base p-1 px-4 rounded-lg;
}
